body {
  background-color: #F3F3F3;
}
#contenedorPpal {
  background-color: #ffffff;
  position: absolute;
  top: 5%;
  left: 25%;
  right: 20%;
}
#contenedorPpal .foto {
  width: 50%;
  float: left;
  padding-top: 10px;
}
#contenedorPpal .foto img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
#contenedorPpal .foto .icono {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
#contenedorPpal .foto .icono img {
  position: absolute;
  top: 68px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
#contenedorPpal span {
  color: #666;
  position: absolute;
  top: 30%;
  left: 10%;
}
