@color-fondo: #F3F3F3;
@color-contenedor-ppal: #ffffff;

body{
  background-color: @color-fondo;
}

#contenedorPpal{
  background-color: @color-contenedor-ppal;
  position: absolute;
  top: 5%;
  left: 25%;
  right: 20%;

  .foto {
    width: 50%;
    float: left;
    padding-top: 10px;
    img {
      width: 80px;
      height: 80px;
      border-radius: 50px;
    }
    .icono{
      width: 40px;
      height: 40px;
      border-radius: 50px;
      img {
        position: absolute;
        top: 68px;
        width: 30px;
        height: 30px;
        border-radius: 50px;
      }

    }

  }

  span{
    color:#666;
    position: absolute;
    top: 30%;
    left: 10%;
  }
}

