<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="p-message">
    <template>
        <div class="col-md-12">
            <div class="info">
            <div class="foto">
                <img src={{picture}} />
                <div class="icono">
                    <img src={{icon}} />
                </div>
            </div>
            <div> <span>{{message}}</span></div>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: 'p-message',
            properties: {
                message: String,
                picture: String,
                icon: String
            }
        });
    </script>

</dom-module>